<style>
  .navbar .dropdown-wrapper .row .card img {
    width: 64px;
    margin: 0 auto;
  }
  .navbar .dropdown-wrapper .row .card img {
    width: 64px;
    margin: 0 auto;
  }
</style>

<div class="dgraph-header">
  <div class="header-container">
    <a href="/" aria-current="page" class="dgraph_logo">
      <div class="nav_logo-embed w-embed">
        <img src='{{ relURL "/images/dgraph-logo.png" }}' alt="Dgraph logo" height="38" />
      </div>
    </a>

    <nav role="navigation" class="dgraph-menu">
      <a href="/" class="navigation-link">
        <div>Tour Home</div>
      </a>
      <a href="http://localhost:8000" class="navigation-link" target="_blank">
        <div>Ratel</div>
      </a>

      <a href="https://github.com/dgraph-io/dgraph" class="navigation-link">
        <div>GitHub</div>
      </a>
      <a href="https://docs.dgraph.io" class="navigation-link">
        <div>Docs</div>
      </a>
    </nav>

    <div class="nav_tablet-left">
      <div class="menu_button w-nav-button" style="-webkit-user-select: text" aria-label="menu" role="button" tabindex="0" aria-controls="w-nav-overlay-0" aria-haspopup="menu" aria-expanded="false">
        <div class="nav_icon">
          <div class="nav_icon-line is-1st"></div>
          <div class="nav_icon-line is-2nd"></div>
          <div class="nav_icon-line is-3rd"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const menuButton = document.querySelector(".menu_button");
    const dgraphMenu = document.querySelector(".dgraph-menu");
    const header = document.querySelector(".dgraph-header");

    menuButton.addEventListener("click", function () {
      if (dgraphMenu.classList.contains("active-menu")) {
        menuButton.classList.remove("active-menu-btn");
        dgraphMenu.classList.remove("active-menu");
        header.classList.remove("menu-opened");
      } else {
        menuButton.classList.add("active-menu-btn");
        dgraphMenu.classList.add("active-menu");
        header.classList.add("menu-opened");
      }
    });
  });

  // Submenu
  function toggleSubmenu(event) {
    event.stopPropagation();

    const dropdownToggle = event.currentTarget;
    const submenu = dropdownToggle.querySelector(".nav-submenu");

    const allSubmenus = document.querySelectorAll(".nav-submenu");
    allSubmenus.forEach((otherSubmenu) => {
      if (otherSubmenu !== submenu && otherSubmenu.classList.contains("submenu-open")) {
        otherSubmenu.classList.remove("submenu-open");
      }
    });

    submenu.classList.toggle("submenu-open");
  }

  const dropdownToggles = document.querySelectorAll(".has-submenu");
  dropdownToggles.forEach((dropdownToggle) => {
    dropdownToggle.addEventListener("click", toggleSubmenu);
  });

  function handleOutsideClick(event) {
    const allSubmenus = document.querySelectorAll(".nav-submenu");

    allSubmenus.forEach((submenu) => {
      if (submenu.classList.contains("submenu-open")) {
        submenu.classList.remove("submenu-open");
      }
    });
  }

  document.addEventListener("click", handleOutsideClick);

  const navSubmenus = document.querySelectorAll(".nav-submenu");
  navSubmenus.forEach((navSubmenu) => {
    navSubmenu.addEventListener("click", (event) => {
      event.stopPropagation();
    });
  });
</script>
